@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}


.loader {
  width: 24px;
  height: 24px;
  border: 3px solid #231F20;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 




input[type="date"],
input[type="time"],
input[type="number"] {
  -webkit-appearance: none; 
  -moz-appearance: textfield; 
  appearance: none;
  text-align: left;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




@media (min-width: 480px) {
  body {
    display: none;
  }
}